.page
{
  widith: auto;
  height: 100%;
  background-color: lightgray
}
.article
{
  width: auto;
  height: 100%;
  margin-right: 500px;
  margin-bottom: 20px;
}
.footer
{
  background-color: gray;
}
#one{
  background-color: lightblue;
}
#two{
  background-color: pink;
}
#tree{
    background-color: yellow;
}
#four{
    background-color: brown;
}
#five{
    background-color: green;
}
