.article
{
  width: 500px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  background-color: lightgray;
  float:left;
}
#one{
  background-color: blue;
}
#two{
  background-color: #FFCCCC;
}
#tree{
    background-color: #FFFF99;
}
#four{
    background-color: #B3FFB3;
}
#five{
    background-color: #B3D1FF;
}
